
body{
    background:gainsboro;
}
*{
    padding: 0;
    margin:0;

}
#aviso-retratil{ 
    background-color:#FAAB43; 
    width:100%; 
    height:56px; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    gap:1%; 
}